body {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    max-width: 1200px;
}

/* Menú de configuración */
.contenedor#menu-setup{
    background-color: rgb(132, 173, 207);
    justify-content: center;
}
.contenedor#parametros{
    justify-content: start;
    align-items: center;
    width: 70%;
}
.contenedor#tematicas{
    justify-content: end;
    align-items: center;
    width: 25%;
}

.parametro{
    margin: 5px;
}
.parametro label{
    font-size: x-large;
}
.parametro input{
    font-size: medium;
    width: 40px;
}

/* Menú de flujo del juego */
.contenedor#menu-juego{
    background-color: rgb(132, 173, 207);
}
.contenedor#estadisticas{
    justify-content: start;
    align-items: center;
    width: 70%;
}
.contenedor#botones{
    justify-content: end;
    align-items: center;
    width: 25%;
}

.estadistica {
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    color: rgb(132, 173, 207);
}

/* Vidas */

.contenedor#vidas {
    justify-content: space-around;
    min-height: 80px;
}
.vida {
    height: 75px;
    width: auto;
    margin: 5px;
}

/* Botones */

.boton {
    font-size: medium;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    color: rgb(132, 173, 207);    
}

/* https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */
.boton#startButton {
    font-size: x-large;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin-inline: auto;
    width: 20%;
    height: 30%;  
    min-width: 150px;
    max-height: 175px;  
    z-index: 10;
}

/* Parámetros del juego */
.contenedor.escondido#menu-setup {
    width: 0;
    height: 0;
    display: none;
}
.contenedor.revelado#menu-setup {
    animation: aparecer 1.5;
}

@keyframes aparecer {
    from {height: 0px;}
    to {height: 50px}
}
@keyframes desaparecer {
    from {width: 100%; height: 50px;}
    to {width: 0px; height: 0px}
}